* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Amiri Quran", serif;
}
/* Class Clear dùng chung toàn bộ  */
.clear {
  clear: both;
}
/* Header */
.header {
  background: #f8e1db;
  /* padding: 20px 100px 20px 100px; */
  /* top right bottom left */
  padding: 20px 80px;
  /* y(top,bottom) x(left, right) */
}
.header .nav {
  list-style: none;
}
.header li {
  display: inline;
  margin-right: 30px;
}
.header li a {
  text-decoration: none;
  color: #000000;
}

/* Carousel */
.carousel {
  background-image: url(./Image/BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

/* Activities */
.activities {
  text-align: center;
  padding: 80px 0px;
  background: #faf5f1;
}
.activities__title p {
  font-size: 30px;
  font-weight: bolder;
  color: gray;
}
.activities__item {
  padding: 15px;
  width: 25%;
  float: left;
}

.item__container {
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 16px;
  padding: 30px;
  line-height: 20px;
}
.item__img {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.item__img img {
  width: 100%;
  height: 100%;
  display: block;
}
.item__img .heart {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background: rgba(
    255,
    255,
    255,
    0.7
  ); /* giá trị a cuối cùng của rgba là độ mờ */
  border-radius: 8px;
}
.item__img .heart i {
  line-height: 50px;
  color: #e0704a;
}

/* Description */
.item__description p {
  margin: 15px 0;
}
.item__description button {
  width: 160px;
  height: 30px;
  border-radius: 20px;
  background: #e8e8e8;
  border: none;
  color: #a396a3;
  padding-bottom: 40px;
}
.view__all {
  width: 160px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}
.view__all button {
  width: 180px;
  height: 35px;
  border-radius: 20px;
  background: #faf5f1;
  color: #df835e;
  border: 1.5px solid #ec8c66;
}
.view__all p {
  font-family: Arial, sans-serif;
}
/* Contact */
.contact {
  display: flex;
}
.left {
  background-image: url(./Image/mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 56vh;
  width: 50%;
  background-color: #feebe5;
}
.left img {
  height: 50vh;
  padding-top: 15px;
  padding-left: 60px;
}
.right {
  background-color: #feebe5;
  height: 56vh;
  width: 50%;
  padding-top: 30px;
}
.right h4,
.right p {
  color: gray;
}
.right_information h4 {
  font-size: 30px;
}
.right_information p {
  font-size: 18px;
  line-height: 20px;
  margin-top: -10px;
}

/* Below CSS */
.social_contact {
  display: flex;
  align-items: auto;
  justify-content: flex-start;
  width: 100%;
}
.left_socialcontact {
  width: 60%;
}
.right_socialcontact {
  width: 40%;
}
.left_socialcontact h4,
.right_socialcontact h4 {
  font-size: 22px;
}
.right_socialcontact {
  margin-left: -22px;
}
.left_socialcontact .text_intro {
  margin-bottom: 8px;
}
.social_icons i {
  color: #ee581d;
  margin-right: 10px;
  font-size: 25px;
}

/* Footer */
.footer {
  display: flex;
  background-color: #feebe5;
  margin-top: 100px;
  padding: 60px 50px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  position: relative;
}
.left-footer h3,
.right-footer h3 {
  font-size: 20px;
}
.left-footer {
  width: 40%;
  line-height: 28px;
  padding-top: 10px;
}
.left-footer p {
  font-size: 20px;
  padding-top: 20px;
}
.right-footer {
  width: 60%;
}
.right__content {
  display: flex;
}
.right__detail {
  margin-left: 30px;
}
.right__detail li {
  list-style: none;
  margin-bottom: 10px;
  line-height: 20px;
}
.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}